<div style="text-align: center">
  <h3>Your connected libraries</h3>
</div>

<div *ngIf="lendtomeService.libraryStatus | async; then loaded else loading" style="text-align: center">
</div>

<ng-template #loading>
  <div style="align-content: center">
    <mat-spinner [diameter]="50" style="align-content: center"></mat-spinner>
  </div>
</ng-template>

<ng-template #loaded>
  <div *ngIf="lendtomeService.libraryStatus | async; let status">
    <div *ngIf="status.connectedLibraries.length > 0">
      You are connected to the following libraries:
      <div *ngFor="let connection of status.connectedLibraries" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
        <div style="max-width: 20%">
          <img src="{{connection.picture}}" width="100%">
        </div>
        <div style="margin-left: 5px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items:center; justify-content: center;">
          <div style="font-weight: 700">{{connection.name}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="status.receivedRequests.length > 0">
      You have received connection requests from these libraries:
      <div *ngFor="let request of status.receivedRequests" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
        <div style="max-width: 20%">
          <img src="{{request.picture}}" width="100%">
        </div>
        <div style="margin-left: 5px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items:center; justify-content: center;">
          <div style="font-weight: 700">{{request.name}}</div>
          <div>
            <div>
              <mat-icon svgIcon="plus-circle" (click)="acceptConnection(request)" *ngIf="!callStatus.has(request.id)">
              </mat-icon>
              <mat-spinner *ngIf="callStatus[request.id] === Call_Status.Pending" [diameter]="20"></mat-spinner>
              <mat-icon svgIcon="check-circle" *ngIf="callStatus[request.id] === Call_Status.Success"></mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="status.sentRequests.length > 0">
      You have sent connection requests to these libraries:
      <div *ngFor="let request of status.sentRequests" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
        <div style="max-width: 20%">
          <img src="{{request.picture}}" width="100%">
        </div>
        <div style="margin-left: 5px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items:center; justify-content: center;">
          <div style="font-weight: 700">{{request.name}}</div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
