<div style="text-align: center">
  <h3>How it works</h3>
</div>
<div style="text-align: center">
  <p>
    lend-to.me is an app which allows you to discover if any of your friends own books you'd like to read but can't get hold
    of.
  </p>

  <p>When you search for books, we'll only look in libraries you're connected to. Connecting to a library is like adding a friend
    on Facebook or creating a connection on LinkedIn.</p>

  <p>As soon as you
    <a routerLink="/sign-in">sign up</a> you can start adding books to your own library. You can also start looking for libraries you want to connect
    to.
  </p>
  <p>
    When you ask to connect your library to someone else's, we'll let them know for you. When someone wants to connect their
    libraryto yours, we'll let you know too.
  </p>

  <p>Instead of storing your sensitive details like passwords ourselves, we let Google and Facebook take care of that stuff
    for us, and trust them to let us know who you are.</p>
  <div style="display: flex; justify-content: center">
    <div>
      <a routerLink="/sign-in">
        <button mat-raised-button color="primary">Sounds great!</button>
      </a>
    </div>
  </div>

</div>
