<div style="text-align: center">
  <h3>Your Books</h3>
</div>

<div style=" margin-top: 5px; margin-bottom: 5px">
  <app-new-book-searcher></app-new-book-searcher>
</div>

<div style=" margin-top: 5px; margin-bottom: 5px; align-content: center; align-items: center">
  <app-barcode-scanner></app-barcode-scanner>
</div>

<div style="text-align: center">
  These are the books you currently have in your library
</div>

<div *ngIf="lendtomeService.books | async; then loaded else loading" style="text-align: center">
</div>

<ng-template #loading>
  <div style="align-content: center">
    <mat-spinner [diameter]="50" style="align-content: center"></mat-spinner>
  </div>
</ng-template>

<ng-template #loaded>
  <div *ngIf="(lendtomeService.books | async)?.length == 0 then noBooks else books">
  </div>
  <ng-template #noBooks>
    <p>You don't have any books in your library! ;(</p>
    <p>Use the form above to search for books to add to your library</p>
  </ng-template>

  <ng-template #books>
    <div *ngFor="let book of lendtomeService.books | async" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
      <div>
        <img src="{{book.coverPicture}}">
      </div>
      <div style="margin-left: 5px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items:center; justify-content: center;">
        <div style="margin-bottom: 5px">
          <div style="font-weight: 700">{{book.title}}</div>
          <div>{{book.author}}</div>
          <div>
            <mat-icon svgIcon="minus-circle" (click)="removeBook(book)" *ngIf="!callStatus.has(book.title)">
            </mat-icon>
            <mat-spinner *ngIf="callStatus[book.title] === Call_Status.Pending" #loadingSpinner [diameter]="20"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
