<h2>Your Libraries</h2>
<div *ngIf="lendtomeService.administeredLibraries | async; then loaded else loading">
  <!-- template will replace this div -->
</div>

<ng-template #loading>
  Busy fetching your libraries
</ng-template>

<ng-template #loaded>
  <div *ngIf="(lendtomeService.administeredLibraries | async)?.length == 0 then noLibraries else hasLibraries">
  </div>

  <ng-template #hasLibraries>
    <ul>
      <li *ngFor="let library of lendtomeService.administeredLibraries | async">
        {{library.id}} {{library.name}}
      </li>
    </ul>
  </ng-template>

  <ng-template #noLibraries>
    You don't have any libraries yet!
  </ng-template>

</ng-template>
