<div style="text-align: center">
  <h3>Add books</h3>
</div>
<div style="text-align: center">
  This is what we found for '{{searchTerm}}'
</div>
<div>
  <div *ngFor="let book of books | async" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
    <div *ngIf="book.volumeInfo.imageLinks">
      <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}">
    </div>
    <div style="margin-left: 5px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items:center; justify-content: center;">
      <div style="margin-bottom: 5px">
        <div style="font-weight: 700">{{book.volumeInfo.title}}</div>
        <div *ngIf="book.volumeInfo.authors && book.volumeInfo.authors.length > 0">{{book.volumeInfo.authors[0]}}</div>
        <div>
          <mat-icon svgIcon="plus-circle" (click)="addBook(book)" *ngIf="!callStatus.has(book.id)">
          </mat-icon>
          <mat-spinner *ngIf="callStatus[book.id] === Call_Status.Pending" #loadingSpinner [diameter]="20"></mat-spinner>
          <mat-icon svgIcon="check-circle" *ngIf="callStatus[book.id] === Call_Status.Success"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
