<div style="text-align: center">
  <h3>Dashboard</h3>
</div>
<div *ngIf="lendtomeService.books | async; then loaded else loading" style="text-align: center">
</div>

<ng-template #loading>
  <div>
    <p>Hold tight, we're grabbing your stuff!</p>
  </div>
</ng-template>

<ng-template #loaded>

  <div>
    <mat-form-field hintLabel="Add a book by ISBN Number">
      <input matInput placeholder="ISBN Number" name="isbn" #isbn>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="router.navigateByUrl('addbook/' + isbn.value)">
      <mat-icon svgIcon="magnify">
      </mat-icon>
    </button>
  </div>

  <div *ngIf="(lendtomeService.books | async)?.length == 0 then noBooks else books">
  </div>
  <ng-template #noBooks>
    <p>You don't have any books in your library! ;(</p>
    <p>Use the form above to search for books to add to your library</p>
  </ng-template>

  <ng-template #books>
    <div *ngFor="let book of lendtomeService.books | async" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
      <div>
        <img src="{{book.coverPicture}}">
      </div>
      <div style="margin-left: 5px">
        <div style="margin-bottom: 5px">
          <div>
            <span style="font-weight: 700">{{book.title}}</span>
          </div>
          <div>
            <span>{{book.author}}</span>
          </div>
          <div>
            <button mat-mini-fab color="primary" (click)="removeBook(book)">
              <mat-icon svgIcon="minus-circle">
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
