<div style="text-align: center">
  <h3>Dashboard</h3>
</div>
<div style="align-content: center">
  <mat-form-field hintLabel="Search by title, author, ISBN...">
    <input matInput placeholder="Search Term" name="searchTerm" #searchTerm (keydown.enter)="searchForBooks(searchTerm.value)">
  </mat-form-field>
  <button mat-mini-fab color="primary" type="submit" (click)="searchForBooks(searchTerm.value)">
    <mat-icon svgIcon="magnify">
    </mat-icon>
  </button>
</div>
<div *ngIf="lendtomeService.books | async; then loaded else loading" style="text-align: center">
</div>

<ng-template #loading>
  <div style="align-content: center">
    <p>Hold tight, we're grabbing your stuff!</p>
    <mat-spinner [diameter]="70"></mat-spinner>
  </div>
</ng-template>

<ng-template #loaded>
  <div *ngIf="(lendtomeService.books | async)?.length == 0 then noBooks else books">
  </div>
  <ng-template #noBooks>
    <p>You don't have any books in your library! ;(</p>
    <p>Use the form above to search for books to add to your library</p>
  </ng-template>

  <ng-template #books>
    <div style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
      <div *ngFor="let book of lendtomeService.books | async" style="display: inline-block;">
        <div style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 5px">
          <div>
            <img src="{{book.coverPicture}}">
          </div>
          <div style="margin-left: 5px; display: flex; flex-direction: column; flex-wrap: nowrap; align-items:center; justify-content: center;">
            <div style="margin-bottom: 5px">
              <div style="font-weight: 700">{{book.title}}</div>
              <div>{{book.author}}</div>
              <div>
                <button mat-mini-fab color="primary" (click)="removeBook(book)">
                  <mat-icon svgIcon="minus-circle">
                  </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
